:root {
  --background: #FDFBF7;
  
  /** sticking with a blue for now but I like red so I may switch (hence fallback) **/
  --primary: #0D558C;
  --fallback: #AE0F1A;

  /** I would love to use this but it's contrast ratio is v bad **/
  --non-accessible: #ed3c48;
}

/* General */
html, body {
  font: 18px Inter, sans-serif;
}
body {
  background-color: var(--background);
}

/* Links */
a {
  color: var(--primary);
}
a:hover {
  text-decoration: none;
}

/* Layout */
main {
  max-width: 960px;
  margin: 0 auto;
}

section {
  margin-bottom: 4rem;
}

footer {
  margin-bottom: 2rem;
}

/* About Section */
#about h1 {
  color: var(--background);
  font-size: 6rem;
  font-weight: 900;
  line-height: .8;
  margin: 2rem 0;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--primary);
}
#about h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#about h1 + p {
  margin-bottom: 2rem;
}
#about p, #about ul {
  margin-bottom: 3rem;
}
#about strong {
  color: var(--primary);
  font-size: 1.1rem;
  font-weight: 300;
}
#about ul {
  padding: 0;
  list-style: none;
}
#about ul > li {
  margin-bottom: 1rem;
}

/* Responsive */
@media screen and (max-width: 959px) {
  main {
    max-width: 100%;
    padding: 1rem;
  }
}
/** these .<n> values for the calculations come from
responsive trial and what felt 'good' **/
@media screen and (max-width: 541px) {
  footer {
    font-size: calc(100vw * .03);
  }
}
@media screen and (max-width: 460px) {
  #about h1 {
    font-size: calc(100vw * .23);
  }
}